# Session \#1 - Homework

This is the homework proposed in the <a href=https://github.com/alexeygrigorev/mlbookcamp-code/blob/master/course-zoomcamp/cohorts/2022/01-intro/homework.md>week 1</a> of Zoomcamp 2022 version by <a href=https://datatalks.club/>DataTalks.Club </a>.

More information on the 2022 edition can be found in this <a href = https://github.com/alexeygrigorev/mlbookcamp-code/tree/master/course-zoomcamp>repo </a>.

In [1]:
import pandas as pd
import numpy as np

### Question 01 
What's the version of NumPy that you installed?

You can get the version information using the <code> \_\_version__</code> field:

<code> np.\__version__ </code>

In [2]:
print(f'Checking for numpy version: {np.__version__}')

Checking for numpy version: 1.21.6

In [18]:
#Loading the dataframe
df = pd.read_csv('data.csv')
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

### Question 2

How many records are in the dataset?
Here you need to specify the number of rows.

* 16
* 6572
* 11914
* 18990

In [4]:
#Checking for the number of records/rows
print(f'This dataset has a total of {df.shape[0]} records')

This dataset has a total of 11914 records

### Question 3
Who are the most frequent car manufacturers (top-3) according to the dataset?

* Chevrolet, Volkswagen, Toyota
* Chevrolet, Ford, Toyota
* Ford, Volkswagen, Toyota
* Chevrolet, Ford, Volkswagen

In [5]:
#Here we count values (sorted by defalut) and select the top 3. index atribute shows only the name of the most frequent car manufacturers.
df.Make.value_counts().nlargest(3).index

Index(['Chevrolet', 'Ford', 'Volkswagen'], dtype='object')

### Question 4

What's the number of unique Audi car models in the dataset?

* 3
* 16
* 26
* 34

In [6]:
# Check for unique values for Model when Manufacturer is equal to 'Audi'
df.Model[df.Make == 'Audi'].nunique()

34

### Question 5

How many columns in the dataset have missing values?

- 5
- 6
- 7
- 8

In [7]:
#Show columns with null entries as True, then sum them.
df.isnull().any().sum()

5

### Question 6

1. Find the median value of "Engine Cylinders" column in the dataset.
2. Next, calculate the most frequent value of the same "Engine Cylinders".
3. Use the `fillna` method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.
4. Now, calculate the median value of "Engine Cylinders" once again.

Has it changed?

> Hint: refer to existing `mode` and `median` functions to complete the task.

- Yes
- No

In [8]:
#1. Find the median value of 'Engine Cylinders'
engine_median = df['Engine Cylinders'].median()
print(f'The median value for the Engine Cylinders column in the dataset is: {engine_median}')

The median value for the Engine Cylinders column in the dataset is: 6.0

In [9]:
# 2. Next, calculate the most frequent value of the same "Engine Cylinders".
engine_mode = df['Engine Cylinders'].mode()
print(f'The most frequent value for the Engine Cylinders column in the dataset is: {engine_mode}')

The most frequent value for the Engine Cylinders column in the dataset is: 0    4.0
dtype: float64

In [10]:
# 3. Use the `fillna` method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.
df['Engine Cylinders'].fillna(engine_mode)

0        6.0
1        6.0
2        6.0
3        6.0
4        6.0
        ...
11909    6.0
11910    6.0
11911    6.0
11912    6.0
11913    6.0
Name: Engine Cylinders, Length: 11914, dtype: float64

In [11]:
df['Engine Cylinders'].median()

6.0

### Question 7

1. Select all the "Lotus" cars from the dataset.
2. Select only columns "Engine HP", "Engine Cylinders".
3. Now drop all duplicated rows using `drop_duplicates` method (you should get a dataframe with 9 rows).
4. Get the underlying NumPy array. Let's call it `X`.
5. Compute matrix-matrix multiplication between the transpose of `X` and `X`. To get the transpose, use `X.T`. Let's call the result `XTX`.
6. Invert `XTX`.
7. Create an array `y` with values `[1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]`.
8. Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`.
9. What's the value of the first element of `w`?

> **Note**: You just implemented linear regression. We'll talk about it in the next lesson.

- -0.0723
- 4.5949
- 31.6537
- 63.5643

In [12]:
# Items 1, 2, 3, and 4.
X = np.array(df[['Engine HP','Engine Cylinders']][df.Make == 'Lotus'].drop_duplicates())
print(X)
print(X.shape)

[[189.   4.]
 [218.   4.]
 [217.   4.]
 [350.   8.]
 [400.   6.]
 [276.   6.]
 [345.   6.]
 [257.   4.]
 [240.   4.]]
(9, 2)

In [13]:
# Step 5
xtranspose = X.T
xtx = np.matmul(xtranspose,X)

In [14]:
# Step 6
xtx_inv = np.linalg.inv(xtx)

In [15]:
#Step 7
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])

In [16]:
#Step 8
w = np.matmul(np.matmul(xtx_inv,xtranspose),y)

In [17]:
#Step 9
w[0]

4.594944810094551